{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block head %}
    <title>YAAS | Auction - {{ auction.title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" />
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "error" %}
                <p class ="center"><b>{{ message }} <a href="{% url "auction_view" auction_id=auction.id %}">Reload</a></b></p>
            {% else %}
                <p class ="center"><b>{{ message }}</b></p>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if auction.status == auction.STATUS_BANNED%}
        <p class ="center"><b>This auction has been banned!</b></p>
    {% elif auction.status != auction.STATUS_ACTIVE%}
        <p class ="center"><b>This auction is no longer active!</b></p>
    {% endif %}

    <h1><u>{{ auction.title }}</u></h1>

    <p class="center">Description: {{ auction.description }}</p>
    <p class="center">Current Bid: {% if max_bid is not None %}{{ max_bid.amount }} {% else %} 0.00 {% endif %} €</p>

    {% if max_bid.bidder == user %}
        <p class="center"><b>You have the currently winning bid!</b></p>
    {% endif %}

    {% if user != auction.seller and bid_form and auction.status == auction.STATUS_ACTIVE %}
    {% crispy bid_form bid_form.helper %}
        <br />
    {% endif %}

    <p class="center">Minimum Price: {{ auction.min_price }} €</p>
    <p class="center">Deadline: {{ auction.deadline }}</p>


    {% if auction.seller.get_full_name %}
            <p class="center">Seller: {{ auction.seller.get_full_name }}</p>
            {% else %}
            <p class="center">Seller: {{ auction.seller }}</p>
    {% endif %}


    {% if user == auction.seller %}
        <p class="center"><a href="{% url "edit_auction" auction_id=auction.id %}">Edit Description</a></p>
    {% endif %}
    {% if request.user.is_superuser and auction.status == auction.STATUS_ACTIVE%}
        <p class="center"><a class="btn btn-danger" href="{% url "ban_auction" auction_id=auction.id %}">Ban this auction</a></p>
    {% endif %}


{% endblock %}