{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block head %}
    <title>YAAS | {% trans "Login" %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
{% endblock %}

{% block content %}
    <h1>{% trans "Login" %}</h1>

    {% if messages %}
        {% for message in messages %}
        <p class ="center"><b>{{ message }}</b></p>
        {% endfor %}
    {% endif %}

    {% crispy form form.helper %}

{% endblock %}