{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>YAAS | My Account - Password Changed</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
{% endblock %}

{% block content %}
    <br />
    {% if user.is_authenticated %}
        <p style="text-align: center">Password changed successfully!</p>
        <p style="text-align: center"><a href="{% url "my_account" %}">Back</a></p>
        {% else %}
        <h2>You are not logged in.</h2>
    {% endif %}

{% endblock %}