{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <title>YAAS | {% trans "My Account" %} - {% trans "Password Changed" %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
{% endblock %}

{% block content %}
    <br />
    {% if user.is_authenticated %}
        <p style="text-align: center">{% trans "Password changed successfully" %}!</p>
        <p style="text-align: center"><a href="{% url "my_account" %}">{% trans "Back" %}</a></p>
        {% else %}
        <h2>{% trans "You are not logged in" %}.</h2>
    {% endif %}

{% endblock %}