{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block head %}
    <title>YAAS | {% trans "My Account" %} - {% trans "Change Password" %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" />
    <style type="text/css">
        form input { float:right !important; }
    </style>
{% endblock %}

{% block content %}
    <h1>{% trans "My Account" %} - {% trans "Change Password" %}</h1>


    <form id="change_pw" method="post">
        {% csrf_token %}

        <p><b>{{ form.old_password.errors }}</b></p>
        {{ form.old_password.label_tag }} {{ form.old_password }}


        <p><b>{{ form.new_password1.errors }}</b></p>
        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
        {% if form.new_password1.help_text %}
        {{ form.new_password1.help_text|safe }}
        {% endif %}



        <p><b>{{ form.new_password2.errors }}</b></p>
        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
        {% if form.new_password2.help_text %}
        {{ form.new_password2.help_text|safe }}
        {% endif %}

        <input type="submit" value="{% trans "Change my password" %}" id="submit-id-submit" class="btn btn-primary">

    </form>

{% endblock %}