h1,h2, h4, p.center  {
    text-align:center;
}
p {
    font-size: larger;
}
#acc_details {
    margin: 0 auto;
    width: 50%;
}

form.search {
  overflow: hidden;
}
#search {
  float: right;
  clear: both;
}