{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <title>YAAS | HOME</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
{% endblock %}

{% block content %}

    <form class="search" action="{% url "search" %}" method="get">
    <div id="search">
        <input class="search" type="text" placeholder="{% trans "Search" %}" name="q" />
        <input class="search" type="submit" value="{% trans "Search" %}" />
        </div>
    </form>

    {% if messages %}
        {% for message in messages %}
        <p class ="center"><b>{{ message }}</b></p>
        {% endfor %}
    {% endif %}

    {% for auction in auctions reversed %}

        <a href="{% url "auction_view" auction_id=auction.id %}"><h4><u>{{ auction.title }}</u></h4></a>
        <p class="center"><i>{{ auction.description }}</i></p>
        <p class="center"><i>{% trans "Minimum Price" %}: {{ auction.min_price }} €</i></p>
        {% if auction.seller.get_full_name %}
            <p class="center">{% trans "Seller" %}: {{ auction.seller.get_full_name }}</p>
            {% else %}
            <p class="center">{% trans "Seller" %}: {{ auction.seller }}</p>
        {% endif %}

        {% empty %}
            <h4>{% trans "No Auctions matching the criteria!" %}</h4>

    {% endfor %}


{% endblock %}