{% extends "base.html" %}
{% load static %}


{% block head %}
    <title>YAAS | My Account</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1><u>My Account</u></h1>
        <br />
        <div id="acc_details">
            <h3>Username: {{ user.username }}</h3>
            <h3>Email: {{ user.email }}</h3>
            <h3>First Name: {{ user.first_name }}</h3>
            <h3>Last Name: {{ user.last_name }}</h3>
            <br />
            <h3><u>Edit Account</u></h3>
            <p><a href="{% url "email_change" %}">Change Email Address</a></p>
            <p><a href="{% url "password_change" %}">Change Password</a></p>
            <br />
            <h3><u>My Auctions</u></h3>
            {% for auction in my_auctions reversed %}
               <p><a href="{% url "auction_view" auction_id=auction.id %}"><u>{{ auction.title }}</u></a></p>
            {% endfor %}
        </div>
        {% else %}
        <h2>You are not logged in.</h2>
    {% endif %}


{% endblock %}